@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
    color: #ffffff;
    background-color: #000000;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@media (max-width: breakpoint-xs) {
    body {
        margin-top: 80px;
    }
}









@media (max-width: 768px) {
    .mobile-menu-button {
      display: block;
    }
  
    #mobile-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px; 
      right: 0;
      left: 0;
      background-color: white;
      z-index: 999;
      border-top: 1px solid #ccc;
    }
  
    #mobile-menu.active {
      display: flex;
    }

    .nav-menu-wrapper{
      display:none
    }
}